body {
  background-color: #EEEEEE;
  font-family: sans-serif;
}

#global-container {
  border: solid 2px #666666;
  border-radius: 4px;
  background-color: #CCCCCC;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

#playing-field-container {
  position: relative;
  flex: 0 0 720px;
  height: 600px;
}

#playing-field {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #DDDDDD;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.body-part {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #444444;
  position: absolute;
}

#navigation {
  width: 100px;
  padding: 0 0 0 10px;
}

#body-0 {
  background-color: #222222;
}

#lost {
  visibility: hidden;
  padding: 10px;
}

#retry {
}

#star-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

#star {
  text-align: center;
}

#settings-container {
  width: 140px;
  padding: 0 10px 0 0;
}
