body {
  background-color: #EEEEEE;
  font-family: sans-serif;
}

#global-container {
  border: solid 2px #666666;
  border-radius: 4px;
  background-color: #CCCCCC;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px;
}

#playing-field-container {
  position: relative;
  flex: 0 0 720px;
  height: 600px;
}

#playing-field {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #DDDDDD;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.body-part {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #444444;
  position: absolute;
}

#output {
  width: 130px;
  padding: 0 0 0 10px;
}

#body-0 {
  background-color: #222222;
}

#lost {
  visibility: hidden;
}

#retry {
}

#star-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

#star {
  text-align: center;
}

#left-column {
  width: 180px;
}

#navigation p {
  text-align: justify;
}

h3, #output {
  text-align: center;
}
