body {
  background-color: #EEEEEE;
  font-family: sans-serif;
}

#global-container {
  border: solid 2px #666666;
  border-radius: 4px;
  background-color: #CCCCCC;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

#container {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #DDDDDD;
  position: relative;
  flex-shrink: 0;
}

.body-part {
  border: solid 1px #666666;
  border-radius: 4px;
  background-color: #444444;
  position: absolute;
}

#navigation {
  width: 20%;
  padding: 20px;
}

#body-0 {
  background-color: #222222;
}

#lost {
  padding: 10px;
}

#retry {
}

#star-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

#star {
  text-align: center;
}
